.form { margin-top: 2% }

.field_with_errors .form-control {
  border-color: #d9534f;
}

.field_with_errors {
  display: inline;
}

.table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

.result-table {
  margin-top: 4%;
}

.nested-fields {
  display: inline;
}

.display-none {
  display: none;
}